<div class="inviteLinkBox">
    <div class="installAppBody">
        <img class="logImg logoImg" src="https://imgd.photogurus.com/assets/images/pgRoundLogo.png" alt="design completed.">
        <div class="installTitle">You need to download the Photogurus app</div>
        <div class="installTitle"> to add photos to your friend’s story.</div>
    </div>
    <div class="linkContainer">
        <div class="installSubTitle">1. Download Photogurus app from the {{#if isIOS }}<a href="{{appStoreLink}}" class="installLink"> App Store</a>.{{/if}}
            {{#if isAndroid}}
            <a href="{{playStoreLink}}" class="installLink"> Play Store</a>. {{/if}}</div>

        <div class="installSubTitle">2. Click on the invite link again.</div>
    </div>
    <div class="installAppBody">
        <div class="installSubTitle signUpLine"><span class="installLink">Signup</span> for a free Photogurus account.</div>
    </div>
</div>
</div>