<div class="loginHeader" style="background: #4b4b4b;">
<i class="home-icon"></i>
<i class="top-icon backIcon"></i>
<div class="logo-img-box logoPhotogurus desk-help-header">
    <a href="{{baseURL}}"><img src="{{imageBase}}pg-logo.png"></a>
</div>
<div class="logo-box logoPhotogurus mob-help-header">
    Help
</div>
</div>
<div class="m-b">

    <div class="clearfix help-main">
        <div class="help-search-container">
            <div>
                <label>
                    Can't find what you need?
                </label>
                <fieldset>
                    <div class="search-box">
                        <i class="search-icon-help"></i>
                        <input type="text" class="text-input form-control" autocomplete="off" id="filter" value="" placeholder="Search for keywords..."
                        />
                        <i id="cancel-help-search"></i>
                    </div>
                    <button type="button" class="btn help-search">GO</button>
                </fieldset>
            </div>
        </div>
        <div class="searchedResult">
            Searched Results For "<b><span></span></b>"
        </div>
        <div class="noResult">
            No Result Found
        </div>
        <div class="col-sm-12 clearfix help-content">
            <div class="content_shadow col-xs-12">

                <div class="">
                    <div class="left-help-bar">
                        <nav class="nav-sidebar">
                            <ul class="nav tabs">
                                <li class="firstTab">
                                    <a href="#tab1" data-toggle="tab" style="color: #4b4b4b; font-weight: bold;">About Photogurus<span class="active-arrow normal-arrow"></span></a>
</li>
<li class=""><a href="#tab2" data-toggle="tab">Account creation<span class="normal-arrow"></span></a></li>
<li class=""><a href="#tab3" data-toggle="tab">Create a new story<span class="normal-arrow"></span></a></li>
<li class=""><a href="#tab4" data-toggle="tab">Manage my stories<span class="normal-arrow"></span></a></li>
<li class=""><a href="#tab5" data-toggle="tab">Shared stories<span class="normal-arrow"></span></a></li>
<li class="feedback-tab"><a href="#tab6" data-toggle="tab">Feedback<span class="normal-arrow"></span></a></li>
</ul>
</nav>
</div>
<!-- tab content -->
<div class="tab-content">
    <div class="tab-pane" id="tab1">
        <div class="ui-accordion ui-widget ui-helper-reset accordion4help" role="tablist">

            <div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
                role="tab" id="ui-accordion-accordion4help-header-1-1" aria-controls="ui-accordion-accordion4help-panel-1-1"
                aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                <span class="accordion4help_heading_num"></span>
                <div class="accordion4help_heading_text">What does Photogurus do?</div>
            </div>
            <div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-1-1" aria-labelledby="ui-accordion-accordion4help-header-1-1"
                role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    You take tons of photos on your vacation, birthday parties, day outs and even of your dogs. But don't have time to organize
    them and share them with your friends and family. Sounds familiar? Photogurus can help. Just send us all your photos
    and we will do the rest - selection, editing, stitching photos together. You will get a digital story ready to be shared
    and enjoyed with friends.
</p>
<div style="clear:both;"> </div>
</div>

<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top"
    role="tab" id="ui-accordion-accordion4help-header-1-2" aria-controls="ui-accordion-accordion4help-panel-1-2" aria-selected="true"
    tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">How safe are my photos?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-1-2" aria-labelledby="ui-accordion-accordion4help-header-1-2"
    role="tabpanel" aria-expanded="true" aria-hidden="false">
    <p>
        Your privacy is our greatest concern and your photos are processed in a highly secure environment with Fort Knox like measures.
        The designers and all the computer systems in the facility are monitored by 24/7 surveillance. You can be assured
        that your photos are in safe hands. Please read our <a href="{{terms}}" class="helpLinkColor">Terms & Conditions</a>        for more details.
    </p>
    <div style="clear:both;"> </div>
</div>

<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-1-3" aria-controls="ui-accordion-accordion4help-panel-1-3" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">Who will see my photos?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-1-3" aria-labelledby="ui-accordion-accordion4help-header-1-3"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Your photos will be visible only to the designer who is designing your story and that too only at the time of designing.
    Once your story has been designed, no other human will have access to your story until you ask us to.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-1-4" aria-controls="ui-accordion-accordion4help-panel-1-4" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">Is there a restriction on the type of photos you don't accept?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-1-4" aria-labelledby="ui-accordion-accordion4help-header-1-4"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    We will not accept photos with explicit content of any nature - nudity, cruelty or images that may hurt moral, emotional
    and religious sentiments of our designers. We reserve a right of refusal to design a story with such photos.
</p>
<div style="clear:both;"> </div>
</div>
</div>

</div>
<div class="tab-pane" id="tab2">
    <div class="ui-accordion ui-widget ui-helper-reset accordion4help" role="tablist">

        <div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
            role="tab" id="ui-accordion-accordion4help-header-2-1" aria-controls="ui-accordion-accordion4help-panel-2-1" aria-selected="false"
            tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
            <span class="accordion4help_heading_num"></span>
            <div class="accordion4help_heading_text"> How do I signup?</div>

        </div>
        <div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-1" aria-labelledby="ui-accordion-accordion4help-header-2-1"
            role="tabpanel" aria-expanded="false" aria-hidden="true">
            <p>
                You can signup with your email address, mobile number or even connect with your Facebook or Google+ ID. Signup now!
            </p>
            <div style="clear:both;"> </div>
</div>

<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top"
    role="tab" id="ui-accordion-accordion4help-header-2-2" aria-controls="ui-accordion-accordion4help-panel-2-2" aria-selected="true"
    tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-2-s"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">Why do I need to verify myself?</div>
</div>
<div class="clearfix ui-accordion-content ui-accordion-content-active" id="ui-accordion-accordion4help-panel-2-2" aria-labelledby="ui-accordion-accordion4help-header-2-2"
    role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: none;">
<p>
    We want to make sure only authentic users are using our service. Please click on the link sent to you or enter the verification
    code to verify yourself.
</p>
<div style="clear:both;"> </div>
</div>

<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-2-3" aria-controls="ui-accordion-accordion4help-panel-2-3" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I signed up but did not receive a verification code.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-3" aria-labelledby="ui-accordion-accordion4help-header-2-3"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    You can resend the code by clicking <span class="helpLinkColor sendCode">here</span>. If you have any trouble please
    send us a message <span class="helpLinkColor helpfeedback">here</span>.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-2-4" aria-controls="ui-accordion-accordion4help-panel-2-4" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I received a verification code but when I use it I see "Incorrect code" message.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-4" aria-labelledby="ui-accordion-accordion4help-header-2-4"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    You have probably generated more than one verification code and are clicking on an older link. Please click on the most recent
    verification code or resend one here. If you have any trouble send us a message here.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-2-5" aria-controls="ui-accordion-accordion4help-panel-2-5" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I signed up but now I can't access my account. </div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-5" aria-labelledby="ui-accordion-accordion4help-header-2-5"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Please click on "Forgot Password" on the login page and we will reset your password for you. If you do not have access to
    your ID anymore, please create a new ID.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-2-5" aria-controls="ui-accordion-accordion4help-panel-2-5" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I signed up to view my friend's photostory, but when I click on the story, I'm asked to verify myself. Why?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-6" aria-labelledby="ui-accordion-accordion4help-header-2-6"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    This is a feature to ensure only the intended user can view the story that your friend has shared. Please verify yourself
    by clicking on the link or entering the code sent to your ID.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-2-7" aria-controls="ui-accordion-accordion4help-panel-2-7" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I signed up and verified myself, what should I do next?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-7" aria-labelledby="ui-accordion-accordion4help-header-2-7"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Awesome! The hard part is over. The next thing is to start your own photostory. Send us your photos and we will send you
    back a beautiful photostory.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-2-8" aria-controls="ui-accordion-accordion4help-panel-2-8" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">My friend shared a story on another email address, do I need to create another account to see that story?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-8" aria-labelledby="ui-accordion-accordion4help-header-2-8"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    You can connect any other email address/phone number to your account - click on My account on the left menu (icon). Once
    you verify, you will be able to see all the stories together. You can also log-in with any of these accounts with your
    password.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-2-9" aria-controls="ui-accordion-accordion4help-panel-2-9" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I have 2 photogurus accounts, can I merge the 2 accounts?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-9" aria-labelledby="ui-accordion-accordion4help-header-2-9"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Absolutely, click on My account on the left menu (icon). Add the phone number/email address of your second account and the
    accounts will be merged. Once you verify, you will be able to see all the stories together.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-2-10" aria-controls="ui-accordion-accordion4help-panel-2-10" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I added another account on my profile, how do I remove that account?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-2-10" aria-labelledby="ui-accordion-accordion4help-header-2-10"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Tap on the account and you will see a delete button. If you delete the connected account, the account will be deleted from
    our system and all shared stories of that account will disappear from your shelf. If you signup again with that ID, we
    will restore all the shared stories. If the connected account had any own stories, they will be retained with your main
    account.
</p>
<div style="clear:both;"> </div>
</div>
</div>

</div>
<div class="tab-pane" id="tab3">
    <div class="ui-accordion ui-widget ui-helper-reset accordion4help" role="tablist">

        <div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
            role="tab" id="ui-accordion-accordion4help-header-3-1" aria-controls="ui-accordion-accordion4help-panel-3-1" aria-selected="false"
            tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
            <span class="accordion4help_heading_num"></span>
            <div class="accordion4help_heading_text">How do I start my photostory?</div>

        </div>
        <div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-3-1" aria-labelledby="ui-accordion-accordion4help-header-3-1"
            role="tabpanel" aria-expanded="false" aria-hidden="true">
            <p>
                Click on the "<span class="helpLinkColor uploadeButton">+Start your photostory</span>" on the main page or
                <span class="helpLinkColor uploadeButton">click here</span>. Add photos from your device or other cloud sources
                (Google photos, Facebook, Flickr, Dropbox), add a title to your story and you are done. We will do the rest.
            </p>
            <div style="clear:both;"> </div>
</div>

<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top"
    role="tab" id="ui-accordion-accordion4help-header-3-2" aria-controls="ui-accordion-accordion4help-panel-3-2" aria-selected="true"
    tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-2-s"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">Can I select photos from multiple sources?</div>
</div>
<div class="clearfix ui-accordion-content ui-accordion-content-active" id="ui-accordion-accordion4help-panel-3-2" aria-labelledby="ui-accordion-accordion4help-header-3-2"
    role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: none;">
<p>
    Yes, you can add photos from multiple sources. Just select the source, add photos from that source and then click on another
    source to add more photos. Click next when you are done.
</p>
<div style="clear:both;"> </div>
</div>

<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-3-3" aria-controls="ui-accordion-accordion4help-panel-3-3" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I started but my story upload is paused due to bad network.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-3-3" aria-labelledby="ui-accordion-accordion4help-header-3-3"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    When you have a bad network connection, it is difficult to upload your photos. Please connect to a wifi or move to an area
    with better network coverage, open the app and your story upload will start again.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-3-4" aria-controls="ui-accordion-accordion4help-panel-3-4" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I started but my story upload is paused due to Low battery.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-3-4" aria-labelledby="ui-accordion-accordion4help-header-3-4"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    When the device battery is low, we pause the upload to conserve the battery. Please place your device on charge, open the
    app and your story upload will start again.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-3-5" aria-controls="ui-accordion-accordion4help-panel-3-5" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I forgot to send some photos, can I send them now?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-3-5" aria-labelledby="ui-accordion-accordion4help-header-3-5"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Sorry, once you send us the photos it is not possible to send more photos to the designer. Once your story is ready, you
    can edit it and add the photos there.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-3-6" aria-controls="ui-accordion-accordion4help-panel-3-6" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I sent all the photos, now what? </div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-3-6" aria-labelledby="ui-accordion-accordion4help-header-3-6"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Sit back and relax - our designers are already working on your story. We will send you an update as soon as the story is
    ready. If you don't have the app installed, please install it from here to get instant updates on your device.
</p>
<div style="clear:both;"> </div>
</div>

</div>

</div>
<div class="tab-pane" id="tab4">
    <div class="ui-accordion ui-widget ui-helper-reset accordion4help" role="tablist">

        <div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
            role="tab" id="ui-accordion-accordion4help-header-4-1" aria-controls="ui-accordion-accordion4help-panel-4-1" aria-selected="false"
            tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
            <span class="accordion4help_heading_num"></span>
            <div class="accordion4help_heading_text">Where can I see the status updates on your app or website?</div>

        </div>
        <div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-4-1" aria-labelledby="ui-accordion-accordion4help-header-4-1"
            role="tabpanel" aria-expanded="false" aria-hidden="true">
            <p>
                You can see the status of "Design in progress" stories on the main screen after you log-in. For all others you can check
                by clicking on the bell (icon).
            </p>
            <div style="clear:both;"> </div>
</div>

<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top"
    role="tab" id="ui-accordion-accordion4help-header-4-2" aria-controls="ui-accordion-accordion4help-panel-4-2" aria-selected="true"
    tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-2-s"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I have too many status messages on the home screen, how do I remove them?</div>
</div>
<div class="clearfix ui-accordion-content ui-accordion-content-active" id="ui-accordion-accordion4help-panel-4-2" aria-labelledby="ui-accordion-accordion4help-header-4-2"
    role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: none;">
<p>
    Just click on the X button and the status messages will be removed from the home screen. You can still see them by clicking
    on the bell.(icon)
</p>
<div style="clear:both;"> </div>
</div>


<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-4-3" aria-controls="ui-accordion-accordion4help-panel-4-3" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">How will I know if the status of my story changes?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-4-3" aria-labelledby="ui-accordion-accordion4help-header-4-3"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    We will send you an update as soon as there is any change in the status of your story. You will have to login to our website
    to check them or install the photogurus app <span class="helpLinkColor appInstallID"> here </span>to get instant
    updates.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-4-4" aria-controls="ui-accordion-accordion4help-panel-4-4" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I sent my photos a few days back, but there has been no update.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-4-4" aria-labelledby="ui-accordion-accordion4help-header-4-4"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    We are sorry that we were delayed in making your story. Please send us the details of your story here.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-4-5" aria-controls="ui-accordion-accordion4help-panel-4-5" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">How will I know when my story is ready?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-4-5" aria-labelledby="ui-accordion-accordion4help-header-4-5"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    We will send you an email/sms as soon as your story is ready. If you have installed the photogurus app you will also get
    instant updates on your phone. Install the app here.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-4-6" aria-controls="ui-accordion-accordion4help-panel-4-6" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">How do I see just my own stories?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-4-6" aria-labelledby="ui-accordion-accordion4help-header-4-6"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    You can filter to see just your own stories or your shared stories by clicking on the left menu (icon).
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-4-7" aria-controls="ui-accordion-accordion4help-panel-4-7" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I want to make some changes to my book, how do I do that?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-4-7" aria-labelledby="ui-accordion-accordion4help-header-4-7"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Please go to our website <a href="https://www.photogurus.com/" class="helpLinkColor">photogurus.com</a> and click on
    the info button (icon). Click on edit story to make any changes - take a tutorial here. Please note that if you make
    any changes to your story, all your shares will stop working. You will have to re-share your story with your friends.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-4-8" aria-controls="ui-accordion-accordion4help-panel-4-8" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I want to delete my story.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-4-8" aria-labelledby="ui-accordion-accordion4help-header-4-8"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    To delete a story, please click on info (icon) on the shelf and delete the story. If you delete your own story and want to
    restore it again, please reach out to us <span class="helpLinkColor helpfeedback">here</span>.
</p>
<div style="clear:both;"> </div>
</div>

</div>

</div>
<div class="tab-pane" id="tab5">
    <div class="ui-accordion ui-widget ui-helper-reset accordion4help" role="tablist">

        <div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
            role="tab" id="ui-accordion-accordion4help-header-5-1" aria-controls="ui-accordion-accordion4help-panel-5-1" aria-selected="false"
            tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
            <span class="accordion4help_heading_num"></span>
            <div class="accordion4help_heading_text">How do I share my stories?</div>

        </div>
        <div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-1" aria-labelledby="ui-accordion-accordion4help-header-5-1"
            role="tabpanel" aria-expanded="false" aria-hidden="true">
            <p>
                You can share your stories by clicking on the share icon (icon for iOS or icon for android). We have enabled easy sharing
                via facebook, whatsapp (only for mobile devices), email or copy link. You can also share with friends more
                securely through private share. Private share links can be opened only by the intended friend after they
                log-in.
            </p>
            <div style="clear:both;"> </div>
</div>

<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top"
    role="tab" id="ui-accordion-accordion4help-header-5-2" aria-controls="ui-accordion-accordion4help-panel-5-2" aria-selected="true"
    tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-2-s"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">What is a private share and how is it different from other shares?</div>
</div>
<div class="clearfix ui-accordion-content ui-accordion-content-active" id="ui-accordion-accordion4help-panel-5-2" aria-labelledby="ui-accordion-accordion4help-header-5-2"
    role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: none;">
<p>
    Private share is designed to be a more secure way of sharing a story. We create a custom link for each person you share with,
    so the story opens only if your friends sign-up and verify themselves to Photogurus. All your private shares are instantly
    visible in the info section (by clicking icon). Check mark against the friends name will tell you if they have seen your
    story or not.
</p>
<div style="clear:both;"> </div>
</div>


<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-3" aria-controls="ui-accordion-accordion4help-panel-5-3" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">Who can view my shared stories?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-3" aria-labelledby="ui-accordion-accordion4help-header-5-3"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Private share can be seen only by user after logging in, so they wont's work even if they are forwarded. Public share links
    do not require users to login, so anyone with the link can view your story.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-4" aria-controls="ui-accordion-accordion4help-panel-5-4" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I shared my story with my friends, but I can't see their name on the info screen.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-4" aria-labelledby="ui-accordion-accordion4help-header-5-4"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    If you privately share your story with someone, their name will appear instantly in the share with section on the info screen.
    If you share through any other option, your friends name will be added if they signup/login after viewing your story.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-5" aria-controls="ui-accordion-accordion4help-panel-5-5" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">How can I cancel the shares I have already sent?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-5" aria-labelledby="ui-accordion-accordion4help-header-5-5"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Private share can be deleted by choosing the individual and hitting delete (icon) on the details page. Public links can be
    disabled by clicking on "Delete public link" on info screen. In both cases, if someone clicks on the link afterwards,
    they see a "This story share has been deleted" message.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-6" aria-controls="ui-accordion-accordion4help-panel-5-6" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">How do I see stories shared with me?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-6" aria-labelledby="ui-accordion-accordion4help-header-5-6"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    You can see the stories by clicking on the link sent in the email. If you have the app installed, you should see notifications
    under the bell for all stories that are shared privately with you.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-7" aria-controls="ui-accordion-accordion4help-panel-5-7" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I got an email from a friend, but don't see that story on my shelf?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-7" aria-labelledby="ui-accordion-accordion4help-header-5-7"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    If your friend shared privately with you, you will be able to see the story on your shelf. If you have the app installed
    clicking on the link will add the story to your shelf. If you are on a browser, you will have to login to add the story
    to your shelf.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-8" aria-controls="ui-accordion-accordion4help-panel-5-8" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">How do I delete a shared story?</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-8" aria-labelledby="ui-accordion-accordion4help-header-5-8"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    To delete a story, please click on info (icon) on the shelf and delete the story. You can add the story again by clicking
    on the link. If you receive another share link from your friend, the story will be added back to your shelf.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-9" aria-controls="ui-accordion-accordion4help-panel-5-9" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I got a shared story notification and I was asked to signup for a new account. I already have a photogurus account.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-9" aria-labelledby="ui-accordion-accordion4help-header-5-9"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    You should connect your other email address/phone number to your account - click on My account on the left menu (icon). Once
    you verify, you will be able to see all the stories together. You can also log-in with any of these accounts with your
    password.
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-10" aria-controls="ui-accordion-accordion4help-panel-5-10" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I got an email from a friend, but I'm asked to signup to see the story.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-10" aria-labelledby="ui-accordion-accordion4help-header-5-10"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Your friend has done a private share with you. Private share requires a user to signup to view the story. If you already
    have a photogurus account, you can connect the 2 ID's on the profile page by clicking on My account on the left menu
    (icon)
</p>
<div style="clear:both;"> </div>
</div>
<div class="clearfix accordion4help_heading ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all clearfix"
    role="tab" id="ui-accordion-accordion4help-header-5-11" aria-controls="ui-accordion-accordion4help-panel-5-11" aria-selected="false"
    tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    <span class="accordion4help_heading_num"></span>
    <div class="accordion4help_heading_text">I can't find a story that my friend shared with me.</div>
</div>
<div class="clearfix ui-accordion-content" id="ui-accordion-accordion4help-panel-5-11" aria-labelledby="ui-accordion-accordion4help-header-5-11"
    role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
<p>
    Your friend may have updated their story or delete the share. If you want to see that story again, you should ask them to
    share the story with you again.
</p>
<div style="clear:both;"> </div>
</div>

</div>

</div>
<div class="tab-pane" id="tab6">
    <div class="feedback-section">
        <p>
            Have a question for us? A bug to report or an idea or feedback for us? We would love to hear from you.
        </p>
        <p>
            We encourage you to search our Help section for answers. If you still don’t find what you’re looking for, fill out one of
            the forms below and we’ll be happy to assist.
        </p>
        <form class="feedback-form clearfix">

            <select id="feedback_options">
                                        <option value="0" selected="selected" data-imagesrc="assets/images/feedback.png"
                                                >Send Feedback</option>
                                        <option value="1" data-imagesrc="assets/images/question.png"
                                                >Ask a Question</option>
                                        <option value="2"  data-imagesrc="assets/images/reportbug.png"
                                                >Report a bug</option>
                                        <option value="3" data-imagesrc="assets/images/newFeature.png"
                                                >Ask for new feature</option>
                                    </select>
            <textarea class="form-control" id="message" placeholder="Enter your message here" rows="5"></textarea>
            <div id="helperror">Please Enter your message</div>
            <button type="button" class="btn" id="send_feedback">SEND</button>
        </form>
    </div>
</div>
</div>

</div>
</div>
</div>
</div>