<!-- Info Modal -->


<div class="modal " id="passwordModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="backIcon"></i></button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form class="password-form form-layout" role="form" action="/" >
                    <div class="form-inputs">  
                        <input type="password" class="form-control input-lg" placeholder="Old Password" id="oldPass" required>
                        <input type="password" class="form-control input-lg" placeholder="New Password"  id="newPass" required>
                        <input type="password" class="form-control input-lg" placeholder="Confirm Password"  id="confirmPass" required>
                    </div>
                    <div class="error" id="passowd-error"></div>
                    <button class="btn btn-primary btn-block btn-lg bodyText" id="changePass" type="button" >Change Password</button>
                </form>
            </div>

        </div>

    </div>
</div>