
<!-- content panel -->
<!-- top header --> 
<div>
    <i class="home-icon"></i>
</div>
<div class="brand visible-xs">
    <!-- toggle offscreen menu -->
    <div class="toggle-offscreen">
        <a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <!-- /toggle offscreen menu -->
    <!-- logo -->
    <a class="brand-logo">
        <!--<span>REACTOR</span>-->
    </a>
    <!-- /logo -->
</div>

<ul class="brand nav navbar-nav hidden-xs">
    <li class="toggle-offscreen">
        <!--        <a href="javascript:;" class="small-sidebar-toggle ripple" data-toggle="layout-small-menu">
                    <i class="icon-toggle-sidebar"></i>
                </a>-->
        <a href="javascript:;" class="hamburger-icon " data-toggle="offscreen" data-move="ltr">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </li>
</ul>

<div class="logo-img-box">
    <img src="{{imageBase}}pg-logo.png">
</div>

<ul class="nav navbar-nav navbar-right hidden-xs">
    <!--     <li class="navbar-form search-form hide">
            <input type="search" class="form-control search-input" placeholder="Search Photostories by Name">
        </li>
        <li class="searchbox">
            <a href="javascript:;" data-toggle="search">
                <i class="search-open-icon icon-magnifier"></i>
            </a>
        </li>-->

    <li id="notificationBell">

    </li>  
    <!--    <li>
            <a data-toggle="dropdown" class="ripple" href="javascript:;" aria-expanded="true">
                <img title="user" alt="user" class="header-avatar img-circle" src="assets/images/profile.jpg">
                <span>Sean Carpenter</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li id="my_profile">My Profile
                </li>
                <li>
                    My Stories
                </li>
                <li>
                    Logged Out
                </li>
            </ul>
        </li>-->

</ul>
<ul class="nav navbar-nav navbar-right hidden-lg hidden-sm hidden-md">
     <li id="showMessage">
        <a>
            <i class="i-bell"></i>
        </a>
    </li>
    <li id="toggleTile">
        <a>
            <i class="i-tileToggle"></i>
        </a>
    </li>  
</ul>

<!-- /top header -->
<!-- main area -->

<!-- /main area -->

<!-- /content panel -->
