<div class="printFormContainer">
    <div class="printFormHeader">Select Billing Address </div>
    <div class="printFormBody">
        {{#each billingList}}
        <div>{{this.address_firstname}}</div>
        {{/each}}
    </div>
</div>