<div class="printFormContainer ">
    <div class="printFormHeader">Thank you</div>
    <div class="printThanksSection padding20">        
        <div class="">Thank you for your order. Your order number is {{printOrderNum}}. The order details have been sent to your registered ID. </div>
    </div>
    <div class="printFormBodyBox">
        <div id="myOrders" class="printFormPrimaryBtn">My Orders</div>
    </div>
</div>