<div id="termConditionModal" class="termAndConditionModal modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Terms and Conditions</h4>
                <div class="modalCloseBlock sDcloseIcon"></div>
            </div>
            <div class="modal-body ">
                <p>Photogurus provides story design services and photo printing services to it&rsquo;s users through it&rsquo;s
                    website photogurus.com or through it&rsquo;s mobile applications subject to the below Terms and Conditions.<br/><br/>By
                    using Photogurus services you agree that you have read, understood and you agree to these terms as below.
                    Photogurus reserves the right to make changes to these terms and conditions, without prior notice. Your
                    continued usage of the services will confirm your acceptance of the changed Terms and Conditions.</p><br/>
                <h4>
                    <span style="text-decoration: underline;">Terms</span>
</h4>
<p>You expressly understand and agree that your use of the services is at your sole risk and that the services are provided
    "as is" and "as available"., Photogurus reserves the right to delay or cancel the design of a story. Photogurus further
    expressly disclaims all warranties and conditions of any kind, whether express or implied, including, but not limited
    to the implied warranties and conditions of merchantability, fitness for a particular purpose and non-infringement. <br/>Photogurus
    currently offers its services only in the USA and Canada. Photogurus reserves the right to cancel any orders that are
    received from countries other than the USA and Canada.</p><br/>
<h4>
    <span style="text-decoration: underline;">Photo Content</span>
</h4>
<p>You are responsible for the appropriateness and ownership of the photos you send to Photogurus. Photogurus will not be held
    responsible for any breach of photo licensing contract by you.<br/>Photogurus will use the photo content for the sole
    purpose of creating the photo story for you. Your photos will not be used by Photogurus for any marketing activity without
    your prior permission.<br/>Privacy of your photo stories is of utmost importance to Photogurus. You or the friends you
    share with, are the users who will have access to your photo stories. The designer who designs your photo story will
    view your photos for the purposes of editing and selecting your photos. The designer will only have temporary access
    to view your photos when he/she is designing your photo story. All photos will be hosted on ScanCafe&rsquo;s secure web
    servers; none of your photos will be downloaded onto an individual&rsquo;s computer.<br/>Photogurus reserves the right
    of refusal to design a story, if the photos contain nudity, cruelty or other offensive material that our designers may
    be uncomfortable with personally.</p><br/>
<h4>
    <span style="text-decoration: underline;">Photo Story</span>
</h4>
<p>The contents of this application are for recreational purposes only. Photogurus reserves the right to make changes and corrections
    to any part of the content of this app and corresponding website at any time without prior notice. All designs and themes
    may be registered trademarks/copyrights of Photogurus. <br/>You agree to use the data owned by Photogurus (as available
    on the app, website or through any other means like API etc) only for personal purposes and not for any commercial use
    unless agreed to with Photogurus in writing.
</p><br/>
<h4>
    <span style="text-decoration: underline;">Fees</span>
</h4>
<p>Photogurus reserves the right to charge for the design Services as a one-time fee or a subscription fee. Photogurus may change
    the fees without any prior intimation by updating the fee details on its website and apps. You are responsible to pay
    any fee that is applicable at the time of the usage of the services.<br/>By signing up for subscription, you agree to
    pay, in full or part, the dues and give Photogurus the authority to charge your credit card every month without prior
    notice. Refunds of fee is allowed at the sole discretion of Photogurus.</p><br/>
<h4>
    <span style="text-decoration: underline;">Photo book</span>
</h4>
<p>To order a photo book, you will be required to enter a valid card owned by you. Photogurus will not be held responsible for
    fraudulent usage of someone else&rsquo;s credit card by you. <br/>Once a photo book order has been placed, no cancellations
    or refunds are allowed. After the book has been shipped from our print center, Photogurus will not be responsible for
    the loss during shipment.<br/>If you are not happy with the quality of the photobook, you may approach Photogurus with
    your feedback. If accepted, Photogurus will send you a replacement order of the same photo book free of cost.</p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>