<div class="loginHeader" style="background: #4b4b4b;">
<i class="printBackIcon imageFileCode"></i>
<i class="home-icon" style="display: none;"></i>
<div class="logo-img-box logoPhotogurus">
    <img src="{{imageBase}}pg-logo.png">
</div>
</div>
<div class="printContainer container">
    <div class="printOuterBox">
    </div>
</div>