<div id="messageModal" class="modal fade errorMessageModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Photogurus</h4>
            </div>
            <div class="modal-body text-center">
                <p>Please enter valid code</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default errorMessageModalClose" data-dismiss="modal">Ok</button>
            </div>

        </div>
    </div>
</div>