<!-- Verification Modal -->
<div id="verifyModal" class="modal fade" role="dialog" data-backdrop="true" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->
            <div class="modal-body text-center">
                <!-- Verify Account -->
                <form id="verfiyAccount">
                    <label>Please verify your account from
                        the link sent to your email<br><br> OR enter code here</label>
                    <div class="verify">
                        <div class="input-group">
                            <input type="text" class="form-control" id="verifyCode" placeholder="Enter Code">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" id="verify_code" type="button">OK</button>
                            </span>
                        </div>
                    </div>
                    <div class="error-text verify-error">Please enter valid code</div>
                    <button id="resend_btn" type="button" class="btn">Resend Code</button>
                </form>

                <!-- /Verify Account -->
            </div>

        </div>
    </div>
</div>

<div id="verifyModalMobile" class="modal fade" role="dialog" data-backdrop="true" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->
            <div class="modal-body text-center">
                <!-- Verify Account -->
                <form id="verfiyAccountMobile">
                    <label>Please verify your account from
                        the link sent to your mobile on sms<br><br> OR enter code here</label>
                    <div class="verify">
                        <div class="input-group">
                            <input type="text" class="form-control" id="verifyCodeMobile" placeholder="Enter Code">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" id="verify_code_mobile" type="button">OK</button>
                            </span>
                        </div>
                    </div>
                    <div class="error-text verify-error">Please enter valid code</div>
                    <button id="resend_btn_mobile" type="button" class="btn">Resend Code</button>
                </form>

                <!-- /Verify Account -->
            </div>

        </div>
    </div>
</div>
<!-- /Verification Modal -->  