<div class="loginHeader">
    <div class="logo-img-box">
        <a href="{{baseURL}}"><img src="{{imageBase}}pg-logo.png"></a>
    </div>

    <ul class="nav navbar-nav navbar-right hidden-xs ">

        <li>
            <a href="javascript:;" class="ripple" id="signUp">
                Signup
            </a>        
        </li>         
        <li>
            <a href="javascript:;"  class="link" >
                |
            </a>        
        </li>         
        <li>
            <a href="javascript:;" class="ripple" id="login" data-toggle="layout-chat-open">
                Login
            </a>
        </li>
    </ul>
</div>
<div class="m-b">

    <div class="" style="padding: 10px;">
        <div class="bg-primary-dark-term col-sm-8 col-sm-offset-2" style="padding: 2rem;">
            <div class="card-block" style="background-color: transparent;">
                <div class="row  text-white">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-right"> 
                        <img src="assets/images/gurus_logo_supage_header.png" alt="photogurus logo">
                    </div >
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                        <h3 class="m-b-0 addon">Privacy</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-b-lg col-sm-8 col-sm-offset-2 termBody">
            <div class="content_shadow col-sm-10 col-sm-offset-1">
                    <h2>PhotoGurus,  Online Privacy and Security</h2>
                    <p>Last Updated: March 15<sup>th</sup> 2014</p>
                    <p>At PhotoGurus, we take your privacy seriously. Please read through the following to learn more about our privacy policy.</p>

                    <!-- Below Privacy Main Ol list Start -->
                    <ol class="privacy_order_list">
                        <li>INFORMATION COLLECTED</li>
                        <p>We collect personal information when you register with our website or mobile applications. Personal information is any information about you that is personally identifiable, such as your name or email address, Facebook Connect sign-in information (if applicable), and any other information that is not otherwise publicly available.</p>
                        <p>In addition, if you send email invitations to friends and family to allow them to view your pictures or saved projects those email addresses are personal information.</p>
                        <p>We or our third party service providers may also collect information relating to your devices, including your device model, operating system, browser type, unique device identifier, IP address, mobile phone number, mobile network carrier, location, and event information (such as application installations).</p>
                        <p>If you order products or pay for services, we will need your shipping address, billing name and address, as well as your credit card number and expiration date.</p>   


                        <li>COOKIES AND SIMILAR TECHNOLOGIES</li>
                        <p>We use cookies, pixel tags, and/or other similar technologies to collect visitor information.</p>
                        <p>Cookies, for example, are alphanumeric identifiers that we transfer to your computer's hard drive through your web browser. They make it possible for us to store your specific choices and recognize your browser when you visit. By doing this, we can personalize your return visits and save you time during checkout. It is possible to prevent cookies from being used in your browser by turning the feature off, but in order to enjoy the benefits of being a registered user, your browser must be set to accept cookies.</p>


                        <li>USE OF INFORMATION</li>
                        <p>We use your information for the following general purposes: to fulfill your requests for products and services, administrative purposes, to improve our services, to contact you, and for internal business purposes. We use third party information you provide to us solely to provide services you specifically request.</p>
                        <p>For example, sharing your photo stories electronically is one of the key benefits we offer. You are able to send an email invitation to your selected recipients, and then to allow them to view, save, or purchase products from your pictures. This email invitation contains a link created specifically for your pictures. The email also may include information about special promotional offers from our family of brands and/or carefully-screened third parties.</p>


                        <li>ACCESS TO YOUR ACCOUNT INFORMATION AND PREFERENCES</li>
                        <p>You have the right and ability to edit your member account information on our Sites and Apps at any time. You can opt in or out of receiving future communications from us about special offers and new product information, you can unsubscribe by following instructions contained in the messages you receive, or you can change your marketing preferences by contacting us through the Contact Us page of any of our brands. We do reserve the right to send you certain communications relating to the services we provide, such as service announcements and administrative messages. </p>


                        <li>CONFIDENTIALITY AND SECURITY</li>
                        <p>We use a secure server (SSL) to encrypt your personal financial information. We use other physical, electronic and procedural safeguards to protect the security and confidentiality of the information we have collected, and to prevent unauthorized access to or disclosure of your information.</p>


                        <li>QUESTIONS AND SUGGESTIONS</li>
                        <p>If you have questions about this Privacy Policy, you can contact us at <a href="mailto:support@photogurus.com">support@photogurus.com</a></p>


                        <li>UPDATES TO PRIVACY POLICY</li>
                        <p>We may modify this Privacy Policy from time to time by posting updates on this page. Please check back periodically to view any updates.</p>

                    </ol> <!-- Above Privacy Main Ol list End -->


            </div>
        </div>
    </div>
</div>