<div class="loginHeader">
    <div class="logo-img-box">
        <a href="{{baseURL}}"><img src="{{imageBase}}pg-logo.png"></a>
    </div>

    <ul class="nav navbar-nav navbar-right hidden-xs ">

        <li>
            <a href="javascript:;"  class="ripple" id="signUp">
                Signup
            </a>        
        </li>         
        <li>
            <a href="javascript:;"  class="link" >
                |
            </a>        
        </li>         
        <li>
            <a href="javascript:;" class="ripple" id="login" data-toggle="layout-chat-open">
                Login
            </a>
        </li>
    </ul>
</div>
<div class="m-b">

    <div class="" style="padding: 10px;">
        <div class="bg-primary-dark-term col-sm-8 col-sm-offset-2" style="padding: 2rem;">
            <div class="card-block" style="background-color: transparent;">
                <div class="row  text-white">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-right"> 
                        <img src="assets/images/gurus_logo_supage_header.png" alt="photogurus logo">
                    </div >
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                        <h3 class="m-b-0 addon">Terms of services</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-b-lg col-sm-8 col-sm-offset-2 termBody">
            <div class="content_shadow col-sm-10 col-sm-offset-1">
                <!--<h2>These are the Terms of Service for PhotoGurus, a unique subscription service.</h2>-->

                <!-- Below Privacy Main Ol list Start -->
                <ol class="privacy_order_list">
                    <li>Acceptance of Terms of Service</li>
                    <p>PhotoGurus, Inc., ("PhotoGurus", "we", "our" or " us"), provides a service that allows its “Members” to upload, organize, and share their photos, videos, and other content (“Content”) through our website, accessible at www.PhotoGurus.com (the "Site") and through software applications for various devices (the "Applications"). These Terms of Service, together with PhotoGuru’s Privacy Policy and Terms of Use (“Terms of Service” or the “Terms”) govern your use of our service, including all of its features and functionalities, its website, mobile, desktop, tablet, and other applications, and all of its associated content and software (the "Service"). By using, visiting, or browsing the Service, you accept and agree to be bound by these Terms. If you do not agree to these Terms, you should not use the Service.</p>


                    <li>Changes to Terms of Service</li>
                    <p>We reserve the right, from time to time, with or without notice to you, to change these Terms in our sole and absolute discretion. The most current version of these Terms can be reviewed at <a href="{{terms}}" class="linkColor">https://www.PhotoGurus.com/terms</a>. The most current version of these Terms will supersede all previous versions.</p>


                    <li>Privacy and Communication Preferences</li>
                    <p>Any personally identifying information submitted through the Service is subject to our Privacy Policy. Please review our <a href="{{policy}}" class="linkColor">Privacy Policy</a> to understand our privacy practices. The date of any changes to our Privacy Policy will be noted at the top of the Privacy Policy. By using the Service, you consent to receiving electronic communications from PhotoGurus, Inc. These communications may include notices about new products, special promotions, and information regarding your account (e.g., change in password or Payment Method, confirmation e-mails and other transactional information) and other information concerning or related to the Service. These communications are part of your relationship with us, and you will receive them as part of the Service. You agree that any notice, agreements, disclosure or other communications that we send to you electronically will satisfy any legal communication requirements, including that such communications be in writing.</p>

                    <p>If you no longer want to receive certain non-transactional communications from us, you can change your preferences on "My Profile". Please review our Privacy Policy for further details on our marketing communications.</p>


                    <li>Registration; Billing; Automatic Renewal; and Cancellation</li>

                    <ul style="margin-bottom: 33px; margin-top: 16px; list-style-type: disc;">
                        <li>Registration</li>
                        <p>In order to become a Member of PhotoGurus, you must register to create a PhotoGurus account or sign in with an existing PhotoGurus account. You may be either an individual Member and/or you may have a shared or joint Membership with a friend or a family member.
                            During the registration process, you will be required to provide certain information, and you will create a PhotoGurus username and a password. You agree to provide accurate, current and complete information during the registration process and to update such information regularly to keep it accurate, current and complete. We reserve the right to suspend or terminate your subscription and Membership in the Service if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete.
                            You can find the specific details regarding your Membership at any time by visiting the "My Profile" option in the menu on <a href="http://photogurus.com" class="linkColor">www.PhotoGurus.com.</a></p>
                        <li>Automatic Enrollment Following Free Trial or Promotion</li>
                        <p>From time to time, we may offer you promotions that provide a discount on paid subscriptions or make paid subscriptions free for a period of time. Depending on the terms of your promotional offer, you may be enrolled into a paid subscription following the expiration of your promotional period unless you cancel prior to the end of the promotional period.</p>
                        <!--<li>Cancellation and Refunds</li>
                                  <p>You may cancel your subscription to the Service at any time. WE DO NOT PROVIDE REFUNDS OR CREDITS FOR ANY PARTIAL MONTH SUBSCRIPTIONS. REFUNDS WILL BE PRO-RATED FOR ANNUAL SUBSCRIPTION PLANS ONLY. To cancel, you will need to contact Customer Support at <a href="mailto:support@photogurus.com">support@photogurus.com.</a></p>-->
                    </ul>


                    <li>Right to Terminate</li>
                    <p>We reserve the right to terminate, suspend or restrict your Membership and subscription to the Service, with or without notice, for any or no reason whatsoever. If we do so, we will try to let you know in advance and help you retrieve your original uploaded photos and videos, although there may be some cases (for example, repeated or flagrant violation of these Terms, a court order, or danger to other users) where we may suspend immediately.</p>


                    <li>Effect of Cancellation, Expiration or Termination</li>
                    <p>In the event of cancellation, expiration, downgrade or termination of your subscription or Membership, you may be unable to access your Content and you may no longer be allowed to upload additional Content. You may also lose access to certain features or functionality only available to current subscribers.<br>
                        IN THE EVENT OF CANCELLATION, EXPIRATION, DOWNGRADE, OR TERMINATION OF YOUR SUBSCRIPTION OR MEMBERSHIP, WE MAY ALSO DELETE SOME OR ALL OF YOUR CONTENT. IT IS YOUR RESPONSIBILITY TO BACK-UP YOUR PHOTOS AND OTHER UPLOADED CONTENT PRIOR TO THE CANCELATION, EXPIRATION, DOWNGRADE OR TERMINATION.
                    </p>


                    <li>Account Security</li>
                    <p>You are responsible for safeguarding the password you use to access the Service and you agree not to disclose your password to any third party. You are responsible for any activity using your account, whether or not you authorized the activity. You should immediately notify us of any unauthorized use of your account. You acknowledge that if you wish to protect your transmission of photos or other content to your account, it is your responsibility to use a secure encrypted connection to communicate with the Service.</p>


                    <li>Social Media and Networking Sites</li>
                    <p>As a Member of the Service, you have the option of granting us access to your account(s) with certain third-party social media and networking sites, such as Facebook, Instagram, Picasa, Flickr, and others (each, an "SNS"). Provided an SNS permits this, we can capture and make available on the Site and through the Application the photos and other content that you have stored in your account(s) with such SNSs (“SNS Content”). By granting us access to your SNS Content, you understand that we will access, make available and store (if applicable) your SNS Content so that it is available on the Site and through the Application. We are not responsible for any SNS Content stored on an SNS that you choose to make available on the Site and through the Application. Depending on the SNS you choose and subject to the privacy settings you have set in your SNS account(s), personally identifiable information that you post to your SNS account(s) will be available on the Site and through the Application. Please note that if an SNS account becomes unavailable or SNS terminates our access to your SNS account(s), any Content from that SNS will no longer be available on the Site and through the Application. You have the ability to disable the connection between the Site and Application and your SNS account(s), at any time, by accessing the "Settings" section of the Site and Application. <br>
                        PLEASE NOTE THAT YOUR RELATIONSHIP WITH EACH SNS, INCLUDING YOUR RIGHTS WITH RESPECT TO ANY CONTENT THAT YOU PROVIDE TO AN SNS AND THE STORAGE OF SUCH CONTENT, IS GOVERNED SOLELY BY YOUR AGREEMENT(S) WITH SUCH SNS.</p>


                    <li>Member Submissions</li>
                    <p>Any Content you post, upload, publish, submit or transmit via the Service is subject to PhotoGurus’s Terms of Use.</p>

                    <li>General Legal Terms</li>
                    <p>Any dispute or claim arising from or relating to these Terms or the Service is subject to the disclaimer of warranties, limitation of liability, governing law and all other terms in PhotoGurus’s Terms of Use.</p>

                    <li>Contacting PhotoGurus</li>
                    <p>If you have any questions about these Terms, please contact us at <a href="mailto:support@photogurus.com" class="linkColor">support@photogurus.com.</a></p>

                </ol> <!-- Above Privacy Main Ol list End -->
                <br>

                <p>End of Terms of Service
                    © PhotoGurus, Inc.
                    Feb 2014</p>


            </div>
        </div>
    </div>
</div>